<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Centre Alpha – Accueil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body class="hero-section">
    <!--utilisation d'une vue  partial pour le nav 
    template de colorlib -->
    <%- include('partials/navbar') %>

    <main class="accueil-container">
      <h1 class="accueil-titre fade-in">Bienvenue au Centre Alpha Granby</h1>
      <p class="accueil-slogan fade-in delay-3">
        Apprendre à son rythme, grandir avec confiance.
      </p>

      <div class="accueil-pair fade-in delay-2">
        <img
          src="/images/06dc1-alpha_devant1.png"
          alt="Illustration"
          class="accueil-gif" />
        <p class="accueil-texte">
          Notre mission est de promouvoir l’alphabétisation des personnes peu
          scolarisées et de faciliter leur intégration sociale. Nous les
          accompagnons pour développer leurs compétences en lecture, en
          écriture, en calcul et dans tout autre apprentissage menant à une plus
          grande autonomie.
        </p>
      </div>
      <div class="accueil-pair fade-in delay-3">
        <p class="accueil-texte">
          Nous œuvrons également à sensibiliser la population à l’analphabétisme
          et à la réalité quotidienne que vivent ces personnes, tant sur le plan
          personnel que sociétal.Malgré les défis, nous croyons fermement que
          chaque individu a le potentiel de surmonter les obstacles liés à
          l’analphabétisme.
        </p>
        <img src="/images/pers1.jpg" alt="Illustration" class="accueil-gif" />
      </div>
      <div class="accueil-pair fade-in delay-4">
        <img
          src="/images/personne4.jpg"
          alt="Illustration"
          class="accueil-gif" />
        <p class="accueil-texte">
          Rejoignez-nous dans notre mission pour créer un monde où chacun a la
          chance d’apprendre et de s’épanouir, peu importe son parcours ou ses
          défis.
        </p>
      </div>
    </main>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
  <%- include('partials/footer') %>
</html>
